extends layout

block content
  script(language='JavaScript', type='text/javascript', src='/js/createPoll.js')
  br
  .jumbotron(style='margin:2% 25%;')
    h2(style='margin-top:-5%;') New Poll
    form(id='cpform', method='POST', action='/polls/add')
      .form-group
        label Title
        input.form-control(id='title', type='text', placeholder='Ask your question here...', name='title')
      .form-group(id='options')
        label Options
        input.form-control.pollOption(type='text', placeholder='Option 1', name='op')
        input.form-control.pollOption(type='text', placeholder='Option 2', name='op')
      button.btn.btn-outline-info.btn-primary(id='moreop', type='button', disabled='disabled') More Options
      br
      br
      button.btn.btn-info.btn-primary(id='cpsubmit', type='submit', disabled='disabled') Submit    
      
