extends layout

block content
  script(language='JavaScript', type='text/javascript', src='/js/votePoll.js')
  script(language='JavaScript', type='text/javascript', src='/js/deletePoll.js')
  br
  .container
    h2.text-center #{poll.title}
    h5.text-center.text-muted - By #{poll.authorName}
    hr
    .row
      .col-sm-12.col-md-6
        h3.text-center Vote
        hr
        form(methon='POST', action='/polls/vote' + poll._id) 
          select#select.form-control.custom-select
            option(selected='true', disabled='disabled') Choose an option
            each option, i in poll.options
              option #{option.obj}
          br
          br#rembr
          button#vote.btn.btn-primary(type='submit') VOTE!! 
            i.fa.fa-arrow-up
        br
        if user
          button#addownoption.btn.btn-secondary(type='button') Add your own option 
            i.fa.fa-question.fa-2x
          form#addownoptionform.form-inline(method='POST', action='/polls/customvote' + poll._id)
            input#ownoption.form-control.mr-sm-2(type='text', name='newOption', placeholder='Add your own option')
            button#voteownoption.btn.btn-primary.my-2.my-sm-0.mr-sm-2(typ='submit') VOTE!! 
              i.fa.fa-arrow-up
            button#cancelownoption.btn.btn-danger.my-2.my-sm-0(type='button') Cancel
        br
        br
      .col-sm-12.col-md-6
        h3.text-center Statistics
        hr
        canvas#myChart(height='400', width='400')
    br
    if user
      if user.id ==poll.authorID
        button#delete.btn.btn-danger(type='button') Delete Poll
          
          
